{{#each this}}

<a class="gallery-item" href="{{largeImageURL}}">
<div class="gallery">
    
    <div class="img-thumb">
        <img class="photo-card__img" href="{{webformatURL}}" alt="" width="300" height="200" />
    <div class="stats">
        <p class="stats-item">
            <b class="info-text">Likes</b>
            {{likes}}
        </p>
        <p class="stats-item">
            <b class="info-text">Views</b>
            {{views}}
        </p>
        <p class="stats-item">
            <b class="info-text">Comments</b>
            {{comments}}
        </p>
        <p class="stats-item">
        <b class="info-text">Downloads</b>
            {{downloads}}
        </p>
        </div>
    </div>
</div>
</a>

{{/each}}